In [1]:
import os
import pandas as pd
import datetime
from datetime import timedelta
import glob
import warnings
import pymysql
from mysql.connector import connect
import os
from sqlalchemy import create_engine
import sys


warnings.filterwarnings("ignore")
data_dir = '/Users/allen/Developer/clo/flickplay/mixpanel-events/data'
os.chdir(data_dir)

host='localhost'
user='root'
password=''
port=3306
database='fpa'
creds = dict(host=host,user=user,password=password,database=database)

def get_alchemy_con(database='fpa'):
    host='localhost'
    user='root'
    password=''
    port=3306
    database=database
    return create_engine(f'mysql+pymysql://{user}:{password}@localhost/{database}')

def get_pymysql_con(database='fpa'):
    creds['database'] = database
    return pymysql.connect(**creds)

def get_mysql_connector_con(database='fpa'):
    creds['database'] = database
    return connect(**creds)
# get the superset of column names

In [6]:
conp = get_pymysql_con()

con = get_pymysql_con()

columns = pd.read_sql('SELECT * FROM fpa.events LIMIT 1', con).columns

df1 = pd.DataFrame(columns = columns )

# bigdf = pd.concat([df1, bigdf])

# bigdf = bigdf[columns]

df1

Empty DataFrame
Columns: [event, date, time, distinct_id, $ae_first_app_open_date, $app_build_number, $app_version_string, $carrier, $city, $device_id, $had_persisted_distinct_id, $insert_id, $lib_version, $manufacturer, $model, $mp_api_endpoint, $mp_api_timestamp_ms, $os, $os_version, $radio, $region, $screen_height, $screen_width, mp_country_code, mp_lib, mp_processing_time_ms, $wifi, IDFV, app_build, app_session_id, app_version, env, location_enabled, user_gps_location, user_location_accuracy, duration_ms, method, response_bytes, status_code, url, count, feature_source_page, profile_user_id, result, tab, $ae_updated_version, $user_id, anon_user, user_id, username, session_length, session, sub_session, video_id, video_type, video_user_id, source_page, $ae_session_length, session_id, session_type, location_id, location_name, col_position, creator_user_id, creator_username, row_position, source, distance_m, total_clips, total_video_time_ms, category_id, category_name, position, experience_id, experience_name, experience_type, entry_point, anonymous_user_id, type, active, avatar_display, card_type, experience_state, experience_tier, if_have_stock, if_nft, if_unlocked, style_id, value, reload_amount, price_value, button_type, wallet_count, wallet_name, if_empty, collectible_id, collectible_name, collectible_status, collectible_tier, clip, ...]
Index: []

[0 rows x 165 columns]

In [5]:
df

,event,date,time,distinct_id,$ae_first_app_open_date,$app_build_number,$app_version_string,$carrier,$city,$device_id,...,reward_id,if_claimed,user_name,clip_duration_ms,clip_start_time_ms,display_avatar,have_stock,nft,state,email
0,$ae_first_open,2022-02-02,1643786278,4A97CEA2-CBFE-4FF3-8872-F286B3AD5AA0,2022-02-02T07:17:57,1,1.59.0,None,Cluj-Napoca,4A97CEA2-CBFE-4FF3-8872-F286B3AD5AA0,...,None,None,None,None,None,None,None,None,None,None